#art{
	display: table;
	border-spacing: 1px;
	background-color: black;
	border: 5px solid black;
}

#palette{
	background-color: #F0E68C;
}

#grid{
	background-color: #FFE4E1;
}

body{
	text-align: center;
	background-color: #B0E0E6;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

.row{
	display: table-row;
}

.pixel{
	display: table-cell;
	background-color: white;
	width: 40px;
	height: 40px;
}

.pen{
	display: inline-block;
	width: 39px;
	height: 39px;
	border: 2px solid black;
}